{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 11, "knowledge_revision": 144, "git_revision": "", "hash": "a6427e190ac5b4a81d98bb88297607dd", "format-version": 4, "code-base-name": "default", "filename": "recipeease/macos/Runner/Configs/AppInfo.xcconfig", "revision_history": [{"144": ""}]}