{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": ["xcconfig", "Flutter", "generated", "build configuration", "iOS", "macOS"], "state": 2, "file_id": 37, "knowledge_revision": 172, "git_revision": "", "hash": "f7e6bbf706a3dcb1f02c2884f453d9f5", "format-version": 4, "code-base-name": "default", "filename": "recipeease/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "revision_history": [{"172": ""}]}