{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 104, "knowledge_revision": 244, "git_revision": "", "hash": "666ca2b0cfcf1cb9353daa7172a866d9", "format-version": 4, "code-base-name": "default", "filename": "recipeease/ios/Flutter/Generated.xcconfig", "revision_history": [{"244": ""}]}