{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 67, "knowledge_revision": 196, "git_revision": "", "hash": "e305a36815fa92cb1f54897dc9e1b695", "format-version": 4, "code-base-name": "default", "filename": "recipeease/ios/Runner/Info.plist", "revision_history": [{"196": ""}]}